@using WebClient.Models.ViewModels;
@using WebClient.Models.Pages
@model PageViewModel<PropertiesSeperator>



<div>Hii, Using Block here</div>
<div>
    @Html.PropertyFor(m => m.CurrentPage.contenthere)
</div>
<div>
</div>

