@using WebClient.Models.ViewModels;
@using Epi2._0.Models.Pages
@model PageViewModel<PropertiesSeperator>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
