################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Epi2.0/bin
/Epi2.0/obj/Debug
/.vs
*.dll
*.pdb
*.txt
