@using WebClient.Models.ViewModels
@model  ArticleViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Article Page</title>
</head>
<body>
    <style>
        .testUL {
            display: inline-block;
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
    </style>

    <div>
        @Html.DisplayFor(x => x.articlePage.MainBody);
        <br />
        <div>
            @if (Model != null && Model.LinksList != null && Model.LinksList.LinksList != null && Model.LinksList.LinksList.Count() > 0)
            {
                foreach (var link in Model.LinksList.LinksList)
                {
                    <ul class="testUL">
                        <li>
                            | <a target="_blank" href="http://@link.Link">
                                <span>@link.LinkText</span>
                            </a> |
                        </li>
                    </ul>
                }
            }
        </div>
    </div>
</body>
</html>
