@using WebClient.Models.ViewModels;
@model MailBlockViewModel

<h1>@Html.PropertyFor(p => p.mailblock.SendTo)</h1>

@{

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Model.SendTo


        @using (Html.BeginForm("AddMail", "Mailing", FormMethod.Post))
        {
            <div>
                <input type="hidden" name="urlstring" value="@Model.pageURl" />
                @Html.TextArea("txtSendTo", new { rows = 5, columns = 60 })
                <input id="btnSave" type="submit" value="Save" />
            </div>
        }
    </div>

</body>
</html>
