@using WebClient.Models.ViewModels
@model AnswerViewModel

@{
    Layout = null;
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Blog Post
                <small>A Sample Blog Post</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li class="active">Blog Post</li>
            </ol>
        </div>
    </div>

    <div class="col-lg-8">
        @if (Model.ForumProperties.Question != null)
        {
            <hr>
            <p>
                <i class="fa fa-clock-o"></i> Posted on August 14, 2016 at 9:00 PM by <a href="#">Blogging</a>
            </p>
            <hr>
            <img src="https://qph.ec.quoracdn.net/main-qimg-cb117c92c5ee732f1f03b052ee8f9b3c-c?convert_to_webp=true" class="img-responsive">
            <hr>
            <p class="lead">
                @Html.PropertyFor(m => m.ForumProperties.Question)
            </p>
            <hr>
          <input type="hidden" class="hdnPageID" value="@Model.pageId" />
       
        <div class="dvanswer well" style="width:100%;">

        </div>




        <div class="well">
            <h4>Leave a Comment:</h4>
            <form role="form">
                <div class="form-group" style="width:100%">
                    <textarea class="txtanswer form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btnanswer" value="PostAnswer" onclick="PostAnswer($(this))">Submit</button>
            </form>
        </div>
            }
            else
            {
            <div>
                <b>Please Post your Question First!</b>
            </div>

            }
        </div>

    <div class="col-lg-4">
        <div class="well">
            <h4>Blog Search</h4>
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default search" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
            <!-- /input-group -->
        </div>
    </div>
    </div>
        <head>
            <script src="~/js/jquery-1.10.2.min.js"></script>
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
            <script type="text/javascript">
                loadAnswers();

                function loadAnswers() {
                    var data = {
                        pageId: $('.hdnPageID').val()
                    };
                    $.getJSON('/ForumService.svc/loadAnswers', data, successFunc, errorFunc);

                    function successFunc(data) {
                        var htmlstr = "";
                        htmlstr = htmlstr + '<div><span value=' + data.d.length + '>Total Answers : <lable id="Anscnt">' + data.d.length + '</lable></span></div><br/>';
                        if (data.d.length > 0) {
                            for (var key in data.d) {
                                htmlstr = htmlstr + '<div><input type="hidden" name="hdnAnsId" value="' + data.d[key]["AnswerID"] + '"/><span>' + data.d[key]["AnswerText"] + '</span> &nbsp;&nbsp;</br><input type="button" class="btn btn-primary btnanswer" name="deleteAns" Value="Delete Answer" onclick="DeleteAnswer($(this))"/><br></br></div>'
                            }
                        }
                        $('.dvanswer').html('').append(htmlstr);
                    };

                    function errorFunc() {
                        alert('error');
                    };
                };

                function DeleteAnswer(c) {
                    var data = {
                        ansID: c.parent('div').find('input[name=hdnAnsId]').val()
                    };
                    $.getJSON('/ForumService.svc/DeleteAnswer', data, successFunc, errorFunc);

                    function successFunc(data) {
                        if (data.d == true)
                            c.parent('div').remove();
                        var cnt = $('#Anscnt').text();
                        cnt--;
                        $('#Anscnt').text(cnt);
                    };

                    function errorFunc() {
                        alert('error');
                    };

                }


                function PostAnswer(c) {
                    if ($('.txtanswer').val().trim() != "") {
                        var data = {
                            pageId: $('.hdnPageID').val(),
                            answer: $('.txtanswer').val(),
                        };

                        $.getJSON('/ForumService.svc/PostAnswer', data, successFunc, errorFunc);

                        function successFunc(data) {
                            var htmlstr = "";
                            htmlstr = htmlstr + '<div><input type="hidden" name="hdnAnsId" value="' + data.d["AnswerID"] + '" /><span>' + data.d["AnswerID"] + ',' + data.d["AnswerText"] + '</span> &nbsp;|&nbsp;<input type="button" name="deleteAns" Value="Delete Answer" onclick="DeleteAnswer($(this))"/><br></br></div>';
                            $('.dvanswer').append(htmlstr);
                            var cnt = $('#Anscnt').text();
                            cnt++;
                            $('#Anscnt').text(cnt);
                            $('.txtanswer').val('');
                        };

                        function errorFunc() {
                            alert('error');
                        };
                    }
                }

            </script>
        </head>